* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.top-cart {
  height: 400px;
  background-image: url(./content/img_cart/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-cart .heading-big {
  width: 292px;
  height: 70px;
  padding-top: 127px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.cart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__form {
  width: 379px;
  height: 556px;
  top: 464px;
  left: 941px;
  border-radius: 20px;
  background: #F7F6F6;
  grid-column: span 4;
  border-radius: 20px;
  text-align: center;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart .link-box {
  display: flex;
  gap: 7px;
  padding-top: 18px;
}
.cart .link-box__but {
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border-width: 1px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: #FFFFFF;
}
.cart__item {
  height: 198px;
  top: 498px;
  left: 122px;
  border-width: 0px, 0px, 0px, 0px;
  border-top: solid;
  border-color: #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__info {
  width: 276px;
  display: grid;
  gap: 15px;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__link-box {
  display: flex;
  gap: 30px;
  text-decoration: none;
}
.cart__link-box__select {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
}
.cart__name {
  font-size: 24px;
  font-weight: 500;
  height: 29px;
}
.cart__description {
  font-size: 14px;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
.cart__form-title {
  padding-top: 42px;
  padding-bottom: 35px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.cart__form-info {
  width: 288px;
  height: 143px;
  top: 577px;
  left: 968px;
  border-width: 1px;
  display: grid;
  align-content: space-around;
  padding-bottom: 64px;
}
.cart__form-total {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 18px;
}
.cart__form-buy {
  font-family: Montserrat;
  width: 290px;
  height: 41px;
  border-radius: 20px;
  border-width: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.cart__form-contact {
  border-bottom: 1px solid #CACDD8;
  width: 288px;
  text-align: left;
  padding-left: 27px;
}
.cart__price {
  font-weight: 500;
  font-size: 16px;
}

.how {
  width: 47px;
  height: 27px;
  text-align: center;
}

.header {
  height: 77px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}
.header__input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}
.header__menu {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  gap: 32px;
  color: #FFFFFF;
}

.topic {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 64px;
  padding-bottom: 32px;
}

.product-box {
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.product__name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.product__img {
  width: 100%;
}
.product__info {
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price-old {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}
.product .price-box {
  display: flex;
  gap: 32px;
}
.product__name {
  padding-top: 10px;
  padding-bottom: 9px;
}
.product__info {
  padding-bottom: 12px;
}

.link-catalog {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 58px;
}

.footer {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F7F6F6;
  background-size: cover;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 40px;
  align-content: center;
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer__link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #888888;
}
.footer__title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.footer .link_footer:hover {
  color: black underline;
}
.footer .icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer .button {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  line-height: 18px;
  color: #000000;
}
.footer .subscribe {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 8px;
}
.footer .mail {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0%;
  color: #C4C4C4;
  width: 260px;
  height: 40px;
  border-width: 1px;
  border-radius: 16px;
  margin-bottom: 8px;
  padding-left: 17px;
}/*# sourceMappingURL=style_cart.css.map */