*{margin: 0;
padding: 0;
}
ul{list-style-type: none;}

a {text-decoration: none;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
body{font-family: "Montserrat", sans-serif;}

.head_catalog{
    height: 400px;
    background-image: url(./content/img/bac-catalog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.header{
    height: 77px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__input{
    width: 288px;
    height: 41px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
padding-left: 32px;
padding-right: 32px;
}

.header__input::placeholder{
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

    color: #FFFFFF;
}
.menu__link{color: #FFFFFF;}
.menu{ 
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
display: flex;
gap: 32px;
    
}
.title{
font-family: Montserrat;
font-weight: 600;
font-size: 64px;
line-height: 70px;
letter-spacing: 0%;
width: 270;
height: 70;
top: 204px;
left: 117px;
color: #FFFFFF;
margin-top: 127px
}

.bar{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
}
.bar__link{
    font-family: Montserrat;
font-weight: 400;
font-size: 16px;
letter-spacing: 0%;
color: #000000;

}
.bar__nav{
    display: flex;
    gap: 10px;
    color: (0, 0, 0)
}
.select{
    display: flex;
    gap: 10px;
}
.bar__select{
width: 182px;
height: 40px;
border-width: 1px;
border-radius: 20px;

}
.select__menu{
width: 227px;
height: 40px;
border-width: 1px;
border-radius: 20px;
}
.select__1{
    font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.select__2{
    font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.bar__select{
font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center

}
.select__menu{
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.product-box{
   
    display: grid;
    row-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px
}
.product{
width: 378px;
padding-bottom: 8px;
font-weight: 500;
font-size: 24px;
line-height: 29px;
grid-column: span 4;
color: #000000;}

.product__name{
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

}

.product__img{
    width: 100%;

}

.product__info{
padding-bottom: 12px;
font-size: 14px;
line-height: 17px;
color: #888888;
}


.product__price{
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #050505;}

.product__price-old{
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-decoration-line: line-through;
color: #888888;}
.price-box{
    display: flex;
    gap: 32px;
}
.product__name{
    padding-top: 10px;
    padding-bottom: 9px;
}
.product__info{
    padding-bottom: 12px;
}


.link-catalog{
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
color:#000000;
padding-top: 20px;
padding-bottom: 58px;

}/*# sourceMappingURL=style_cart.css.map */
